/* Branding Variables */
:root{
    --light: #fbf2c4;
    --orange: #c7522a;
    --tan: #e5c185;
    --green: #74a892;
    --dgreen: #008585;
}

.row h2 {
    display: block;
    font-size: 25px;
}

.subtitle {
    font-style: italic;
    font-size: 15px;
    margin-bottom: 20px;
}

header p {
    margin: 15px 0 0 100px;
    font-size: 25px;
    /* border: red 2px solid; */
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url("../images/pageBackground.jpg"); /* https://www.pexels.com/photo/white-clouds-and-blue-sky-55787/ */
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: start;

    min-height: 100vh;    
}
main {
    margin:0 auto;
}

header {
    width: 100%;
}


header h1 {
    font-size: 60px;
}

/* Class Selectors */
.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px orange dashed; */
    padding: 10px;
    max-height: 250px;
}

.light {
    color: white;
}

.row.light {
    min-height: 200px;
    max-height: 275px;
}

.forecast-card {
    /* border: red 2px dashed; */
    display: flex;
    align-items:center;
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 15px;
}

.forecast-card img,
.forecast-date,
.forecast-temp {
    margin-right: 15px;
}

.forecast-date {
    text-align: left;
    min-width: 43px;
}

.forecast-day {
    font-size: 20px;
    /* font-weight: bold; */
}

.forecast-monthday {
    color: #cccccc;
}

.forecast-temp {
    font-size: 30px;
}

.forecast-temp::after {
    content: "F";
    font-size: 15px;
    color: #cccccc;
}

.supp-weather {
    font-size: 14px;
}

#content-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    /* border: 2px yellow solid; */
    width: 700px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 50px;
    border-radius: 40px;
}

#form-container {
    margin-top: 20px;
    height: 50px;
}




#city-input,
#search-btn {
    height: 30px;
    margin: 0;
    border: none;
    outline: none;
}

#city-input {
    border-radius: 15px 0 0 15px;
    width: 300px;
    padding-left: 20px;
}

#search-btn {
    border-radius: 0 15px 15px 0;
    width: 75px;
    padding-right: 10px;


    background-color: var(--orange);
    color: white;
    font-weight: 600;

    transition: .2s;
}



#search-btn:hover {
    background-color: #e27049;
    cursor: pointer;
}

#search-btn:active {
    background-color: #e64712;
    cursor: pointer;
}

#active-search-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    /* border: red 2px solid; */

}

#active-search {
    flex: 1;
    /* border:green 2px solid; */
    text-align: center;
}

#forecast {
    flex: 1;
    /* border: blue 2px solid; */
}

.weather-stat {
    margin-bottom: 10px;
}

